/1.jpg
/2.jpg
/gender distributio.jpg
/ITS69304_SupremKhatri_Individual_Assignment
/ITS69304_SupremKhatri_Individual_Assignment.pdf
/ITS69304_SupremKhatri_Individual_Assignment.pptx
/ITS69304_SupremKhatri_Individual_Assignment.zip
/volvo.jpg